<div class="services-page">
    <div class="container page-header-container">
      <h1>{{ 'SERVICES_PAGE_CONTENT.PAGE_TITLE' | translate }}</h1>
      <p class="page-subtitle">{{ 'SERVICES_PAGE_CONTENT.PAGE_SUBTITLE' | translate }}</p> </div>
  
    <section class="service-item" id="residential-service">
      <div class="container service-item-content image-left">
        <div class="service-image-column">
          <img src="/assets/images/limpiezarecidencia.jpg" alt="{{ 'SERVICES_PAGE_CONTENT.RESIDENTIAL.TITLE' | translate }}">
        </div>
        <div class="service-text-column">
          <h2>{{ 'SERVICES_PAGE_CONTENT.RESIDENTIAL.TITLE' | translate }}</h2>
          <p>{{ 'SERVICES_PAGE_CONTENT.RESIDENTIAL.DETAIL' | translate }}</p>
          <a routerLink="/contact" class="cta-button service-cta">{{ 'BUTTONS.CONTACT_US_FOR_SERVICE' | translate }}</a> </div>
      </div>
    </section>
  
    <section class="service-item" id="commercial-service">
      <div class="container service-item-content image-right">
        <div class="service-text-column">
          <h2>{{ 'SERVICES_PAGE_CONTENT.COMMERCIAL.TITLE' | translate }}</h2>
          <p>{{ 'SERVICES_PAGE_CONTENT.COMMERCIAL.DETAIL' | translate }}</p>
          <a routerLink="/contact" class="cta-button service-cta">{{ 'BUTTONS.CONTACT_US_FOR_SERVICE' | translate }}</a>
        </div>
        <div class="service-image-column">
          <img src="/assets/images/limpiezacomercial.jpg" alt="{{ 'SERVICES_PAGE_CONTENT.COMMERCIAL.TITLE' | translate }}">
        </div>
      </div>
    </section>
  
    <section class="service-item" id="office-service">
      <div class="container service-item-content image-left">
        <div class="service-image-column">
          <img src="/assets/images/limpiezaoficinas.png" alt="{{ 'SERVICES_PAGE_CONTENT.OFFICE.TITLE' | translate }}">
        </div>
        <div class="service-text-column">
          <h2>{{ 'SERVICES_PAGE_CONTENT.OFFICE.TITLE' | translate }}</h2>
          <p>{{ 'SERVICES_PAGE_CONTENT.OFFICE.DETAIL' | translate }}</p>
          <a routerLink="/contact" class="cta-button service-cta">{{ 'BUTTONS.CONTACT_US_FOR_SERVICE' | translate }}</a>
        </div>
      </div>
    </section>
  
    <section class="service-item" id="deep-cleaning-service">
      <div class="container service-item-content image-right">
        <div class="service-text-column">
          <h2>{{ 'SERVICES_PAGE_CONTENT.DEEP_CLEANING.TITLE' | translate }}</h2>
          <p>{{ 'SERVICES_PAGE_CONTENT.DEEP_CLEANING.DETAIL' | translate }}</p>
          <a routerLink="/contact" class="cta-button service-cta">{{ 'BUTTONS.CONTACT_US_FOR_SERVICE' | translate }}</a>
        </div>
        <div class="service-image-column">
          <img src="/assets/images/limpiezaprofunda.jpg" alt="{{ 'SERVICES_PAGE_CONTENT.DEEP_CLEANING.TITLE' | translate }}">
        </div>
      </div>
    </section>
  </div>