<section class="hero-section-con-nubes">
  <div class="hero-background-image">
    </div>
  <div class="container hero-content-container">
    <div class="hero-text">
      <div class="logo-empresa-hero">
        <h2>{{ 'COMPANY_INFO.NAME' | translate }}</h2>
      </div>
      <h1>{{ 'HOME_PAGE.HERO_TITLE' | translate }}</h1>
      <p>{{ 'HOME_PAGE.HERO_SUBTITLE' | translate }}</p>
      <a routerLink="/about-us" class="cta-button hero-cta-button">{{ 'BUTTONS.READ_MORE' | translate }}</a>
      </div>
    </div>
  <div class="nubes-efecto">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 180">
      
      <path fill="#ffffff" fill-opacity="1" d="M0,128L40,138.7C80,149,160,171,240,176C320,181,400,171,480,154.7C560,139,640,117,720,117.3C800,117,880,139,960,149.3C1040,160,1120,160,1200,144C1280,128,1360,96,1400,80L1440,64L1440,320L1400,320C1360,320,1280,320,1200,320C1120,320,1040,320,960,320C880,320,800,320,720,320C640,320,560,320,480,320C400,320,320,320,240,320C160,320,80,320,40,320L0,320Z"></path>
     </svg>
    
    </div>
</section>
<div class="services-overview">
  <h2>{{ 'HOME_PAGE.SERVICES_OVERVIEW_TITLE' | translate }}</h2>
  <div class="services-cards row">

    
    
        <div class="service-card-new col-md col-sm" id="residential-card">
          <div class="card-new-overlay"></div>
          <div class="card-new-content">
            <h3>{{ 'SERVICES_PAGE_CONTENT.RESIDENTIAL.TITLE' | translate }}</h3>
            <a routerLink="/services" class="read-more-button-new">{{ 'BUTTONS.READ_MORE' | translate }}</a>
          </div>
        </div>
    
        <div class="service-card-new col-md col-sm" id="commercial-card">
          <div class="card-new-overlay"></div>
          <div class="card-new-content">
            <h3>{{ 'SERVICES_PAGE_CONTENT.COMMERCIAL.TITLE' | translate }}</h3>
            <a routerLink="/services" class="read-more-button-new">{{ 'BUTTONS.READ_MORE' | translate }}</a>
          </div>
        </div>
    
        <div class="service-card-new col-md col-sm" id="office-card">
          <div class="card-new-overlay"></div>
          <div class="card-new-content">
            <h3>{{ 'SERVICES_PAGE_CONTENT.OFFICE.TITLE' | translate }}</h3>
            <a routerLink="/services" class="read-more-button-new">{{ 'BUTTONS.READ_MORE' | translate }}</a>
          </div>
        </div>
    
        <div class="service-card-new col-md col-sm" id="deep-cleaning-card">
          <div class="card-new-overlay"></div>
          <div class="card-new-content">
            <h3>{{ 'SERVICES_PAGE_CONTENT.DEEP_CLEANING.TITLE' | translate }}</h3>
            <a routerLink="/services" class="read-more-button-new">{{ 'BUTTONS.READ_MORE' | translate }}</a>
          </div>
        </div>
    </div>

 </div>
<section class="final-cta-section">
  <div class="container">
    <h2>{{ 'HOME_PAGE.CTA_SECTION.TITLE' | translate }}</h2>
    <p>{{ 'HOME_PAGE.CTA_SECTION.TEXT' | translate }}</p>
    <a routerLink="/contact" class="cta-button primary-cta">{{ 'HOME_PAGE.CTA_SECTION.BUTTON_TEXT' | translate }}</a>
  </div>
</section>