<section class="hero-section-con-nubes">
  <div class="hero-background-image">
    </div>
  <div class="container hero-content-container">
    <div class="hero-text">
      <div class="logo-empresa-hero">
        <h2>{{ 'COMPANY_INFO.NAME' | translate }}</h2>
      </div>
      <h1>{{ 'HOME_PAGE.HERO_TITLE' | translate }}</h1>
      <p>{{ 'HOME_PAGE.HERO_SUBTITLE' | translate }}</p>
      <a routerLink="/about-us" class="cta-button hero-cta-button">{{ 'BUTTONS.READ_MORE' | translate }}</a>
      </div>
    </div>
  <div class="nubes-efecto">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path fill="#ffffff" fill-opacity="1" d="M0,192L48,176C96,160,192,128,288,133.3C384,139,480,181,576,186.7C672,192,768,160,864,138.7C960,117,1056,107,1152,122.7C1248,139,1344,171,1392,186.7L1440,203L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path>
      </svg>
    </div>
</section>
<div class="services-overview">
  <h2>{{ 'HOME_PAGE.SERVICES_OVERVIEW_TITLE' | translate }}</h2>
  <div class="services-cards">

    
    
        <div class="service-card-new" id="residential-card">
          <div class="card-new-overlay"></div>
          <div class="card-new-content">
            <h3>{{ 'SERVICES_PAGE_CONTENT.RESIDENTIAL.TITLE' | translate }}</h3>
            <a routerLink="/services" class="read-more-button-new">{{ 'BUTTONS.READ_MORE' | translate }}</a>
          </div>
        </div>
    
        <div class="service-card-new" id="commercial-card">
          <div class="card-new-overlay"></div>
          <div class="card-new-content">
            <h3>{{ 'SERVICES_PAGE_CONTENT.COMMERCIAL.TITLE' | translate }}</h3>
            <a routerLink="/services" class="read-more-button-new">{{ 'BUTTONS.READ_MORE' | translate }}</a>
          </div>
        </div>
    
        <div class="service-card-new" id="office-card">
          <div class="card-new-overlay"></div>
          <div class="card-new-content">
            <h3>{{ 'SERVICES_PAGE_CONTENT.OFFICE.TITLE' | translate }}</h3>
            <a routerLink="/services" class="read-more-button-new">{{ 'BUTTONS.READ_MORE' | translate }}</a>
          </div>
        </div>
    
        <div class="service-card-new" id="deep-cleaning-card">
          <div class="card-new-overlay"></div>
          <div class="card-new-content">
            <h3>{{ 'SERVICES_PAGE_CONTENT.DEEP_CLEANING.TITLE' | translate }}</h3>
            <a routerLink="/services" class="read-more-button-new">{{ 'BUTTONS.READ_MORE' | translate }}</a>
          </div>
        </div>
    </div>

 </div>
<section class="final-cta-section">
  <div class="container">
    <h2>{{ 'HOME_PAGE.CTA_SECTION.TITLE' | translate }}</h2>
    <p>{{ 'HOME_PAGE.CTA_SECTION.TEXT' | translate }}</p>
    <a routerLink="/contact" class="cta-button primary-cta">{{ 'HOME_PAGE.CTA_SECTION.BUTTON_TEXT' | translate }}</a>
  </div>
</section>