<div class="about-us-page">

    <section class="page-title-section">
      <div class="container">
        <h1>{{ 'ABOUT_US_PAGE.PAGE_HEADER_TITLE' | translate }}</h1>
        <p class="page-header-subtitle">{{ 'ABOUT_US_PAGE.PAGE_HEADER_SUBTITLE' | translate }}</p>
      </div>
    </section>
  
    <section class="main-about-section">
      <div class="container main-about-content">
        <div class="main-about-image-column">
          <img src="assets/images/quienessomos.png" alt="{{ 'ABOUT_US_PAGE.WHO_WE_ARE_TITLE' | translate }}">
          </div>
        <div class="main-about-text-column">
          <p class="pre-title">{{ 'ABOUT_US_PAGE.WHO_WE_ARE_PRE_TITLE' | translate }}</p>
          <h2>{{ 'ABOUT_US_PAGE.WHO_WE_ARE_TITLE' | translate }}</h2>
          <p>{{ 'COMPANY_INFO.DESCRIPTION_FULL' | translate }}</p>
          <p>{{ 'COMPANY_INFO.FOCUS_STATEMENT' | translate }}</p>
        </div>
      </div>
    </section>
  
    <section class="values-section">
      <div class="container">
        <h2>{{ 'ABOUT_US_PAGE.VALUES_SECTION_TITLE' | translate }}</h2>
        <div class="values-grid">
          <div class="value-item">
            <div class="value-icon"></div>
            <h3>{{ 'ABOUT_US_PAGE.VALUE_QUALITY_TITLE' | translate }}</h3>
            <p>{{ 'ABOUT_US_PAGE.VALUE_QUALITY_TEXT' | translate }}</p>
          </div>
          <div class="value-item">
            <div class="value-icon"></div>
            <h3>{{ 'ABOUT_US_PAGE.VALUE_PUNCTUALITY_TITLE' | translate }}</h3>
            <p>{{ 'ABOUT_US_PAGE.VALUE_PUNCTUALITY_TEXT' | translate }}</p>
          </div>
          <div class="value-item">
            <div class="value-icon"></div>
            <h3>{{ 'ABOUT_US_PAGE.VALUE_TRUST_TITLE' | translate }}</h3>
            <p>{{ 'ABOUT_US_PAGE.VALUE_TRUST_TEXT' | translate }}</p>
          </div>
        </div>
      </div>
    </section>
  
    <!-- <section class="mission-vision-section">
      <div class="container mv-content">
        <div class="mv-item">
          <h3>{{ 'ABOUT_US_PAGE.MISSION_TITLE' | translate }}</h3>
          <p>{{ 'ABOUT_US_PAGE.MISSION_TEXT' | translate }}</p>
        </div>
        <div class="mv-item">
          <h3>{{ 'ABOUT_US_PAGE.VISION_TITLE' | translate }}</h3>
          <p>{{ 'ABOUT_US_PAGE.VISION_TEXT' | translate }}</p>
        </div>
      </div>
    </section> -->
  
    <section class="about-cta-section">
      <div class="container">
        <h2>{{ 'ABOUT_US_PAGE.CTA_TITLE' | translate }}</h2>
        <p>{{ 'ABOUT_US_PAGE.CTA_TEXT' | translate }}</p>
        <a routerLink="/contact" class="cta-button primary-cta">{{ 'BUTTONS.CONTACT_US' | translate }}</a>
      </div>
    </section>
  
  </div>