<header class="app-header">
  <div class="container nav-container">
    <div class="logo">
      <a routerLink="/">{{ 'COMPANY_INFO.NAME' | translate }}</a>
    </div>

    <nav class="main-navigation" aria-label="Main navigation">
      <ul>
        <li><a routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">{{ 'MENU.HOME' | translate }}</a></li>
        <li><a routerLink="/services" routerLinkActive="active-link">{{ 'MENU.SERVICES' | translate }}</a></li>
        <li><a routerLink="/about-us" routerLinkActive="active-link">{{ 'MENU.ABOUT_US' | translate }}</a></li>
        <li><a routerLink="/gallery" routerLinkActive="active-link">{{ 'MENU.GALLERY' | translate }}</a></li>
        <li><a routerLink="/contact" routerLinkActive="active-link">{{ 'MENU.CONTACT' | translate }}</a></li>
      </ul>
    </nav>

    <div class="header-right-content">
      <div class="header-contact-info">
        <span class="contact-item">
          <i class="icon-phone"></i> <a href="tel:{{ 'CONTACT_INFO_SHARED.PHONE_1' | translate }}">{{ 'CONTACT_INFO_SHARED.PHONE_1' | translate }}</a>
        </span>
        <span class="contact-item">
          <i class="icon-email"></i> <a href="mailto:{{ 'CONTACT_INFO_SHARED.EMAIL_ADDRESS' | translate }}">{{ 'CONTACT_INFO_SHARED.EMAIL_ADDRESS' | translate }}</a>
        </span>
      </div>
      <div class="language-switcher">
        <button (click)="switchLanguage('en')" class="lang-button" [class.active]="translate.currentLang === 'en'">ENG</button>
        <button (click)="switchLanguage('es')" class="lang-button" [class.active]="translate.currentLang === 'es'">ESP</button>
      </div>
    </div>
  </div>
</header>

<main>
  <router-outlet></router-outlet>
</main>

<footer class="site-footer">
  <div class="container footer-content">
   <div class="footer-contents">
    <div class="footer-logo">
      <img src="/assets/images/licencia.png" alt="{{ 'COMPANY_INFO.NAME' | translate }} Logo">
    </div>
    <div class="social-links">
      <a href="https://www.facebook.com/sadalclean" target="_blank" aria-label="Facebook"><div class="social-icon facebook"><img src="/assets/images/facebook.png" style="width: 40px;" alt=""></div></a>
      <a href="https://www.instagram.com/sadalclean/" target="_blank" aria-label="Instagram"><div class="social-icon instagram"><img src="/assets/images/instagram.png" style="width: 40px;" alt=""></div></a>
      </div>
   </div>
    <div class="copyright">
      <p>&copy; {{ currentYear }} {{ 'COMPANY_INFO.NAME' | translate }}. {{ 'FOOTER.COPYRIGHT_TEXT' | translate }}.</p>
    </div>
  </div>
</footer>