@use 'sass:color';

$primary-blue: #005A9C;
$white-color: #fff;
$montserrat-font: 'Montserrat', sans-serif;
$breakpoint-tablet: 768px;
$header-height: 0px; 
$footer-height: 180px; 

:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: $montserrat-font;
}

main {
  display: block;
  padding-top: $header-height;
  flex-grow: 1;
  width: 100%;
  box-sizing: border-box;
}

.floating-whatsapp-button {
  position: fixed;
  bottom: 25px;
  right: 25px;
  width: 60px;
  height: 60px;
  background-color: #25D366;
  color: $white-color;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  z-index: 1050;
  transition: transform 0.3s ease, background-color 0.3s ease;
  text-decoration: none;

  svg {
    width: 32px;
    height: 32px;
  }

  &:hover {
    background-color: color.adjust(#25D366, $lightness: -8%);
    transform: scale(1.1);
  }
}

@media (max-width: ($breakpoint-tablet - 1px)) {
  .floating-whatsapp-button {
    width: 50px;
    height: 50px;
    bottom: 20px;
    right: 20px;

    svg {
      width: 28px;
      height: 28px;
    }
  }
  main {
     // Si la altura del header cambia en móvil, ajusta este padding-top
     // padding-top: ($header-height - Xpx); // Donde X es la reducción de altura
  }
}
